<a href="https://colab.research.google.com/github/bokkeunyu/IOTs_with_python/blob/main/exam(%EC%9C%A0%EB%B3%B5%EA%B7%BC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:

#'Q1. 다음 데이터를 사용하여 Pandas DataFrame을 생성하세요. 그리고 데이터 프레임의 마지막 3개 행을 출력하는 코드를 작성하세요.'

이름 = ['박지성', '손흥민', '김연아']
나이 = [40, 31, 33]
직업 = ['축구선수', '축구선수', '피겨선수']
import pandas as pd
import numpy as np

In [23]:
df=pd.DataFrame({'이름':이름, '나이':나이, '직업': 직업})
print (df)
print (df.tail(3))

    이름  나이    직업
0  박지성  40  축구선수
1  손흥민  31  축구선수
2  김연아  33  피겨선수
    이름  나이    직업
0  박지성  40  축구선수
1  손흥민  31  축구선수
2  김연아  33  피겨선수

In [21]:
#'Q2. 데이터 요약, Pandas DataFrame에서 다음 함수(정확히는 메서드)들의 역할을 간단히 설명하세요:tail() head()
# tail(n)는 데이터프레임의 마지막 n개 행을 추출, head(m)은 데이터프레임의 처음 m개행 추출

In [22]:
print(df.tail(1))
print(df.head(2))

    이름  나이    직업
2  김연아  33  피겨선수
    이름  나이    직업
0  박지성  40  축구선수
1  손흥민  31  축구선수

In [ ]:
# Q3. 데이터 시각화, Matplotlib를 사용하여 아래 데이터를 선 그래프로 시각화하세요. x축은 날짜, y축은 판매량입니다.
import matplotlib.pyplot as plt
날짜 = ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04']
판매량 = [200, 250, 300, 400]

In [ ]:
#결측치 처리
'Q4. 결측치(NaN)가 포함된 아래 데이터에서 결측치를 0으로 대체하는 코드를 작성하세요.'

data = {'이름': ['홍길동', '김영희', '이철수'],
        '점수': [95, None, 85]}
df = pd.DataFrame(data)

In [ ]:
#데이터 필터링
'Q5. 아래 데이터 프레임에서 나이 30 이상인 행만 필터링하는 코드를 작성하세요.'
import pandas as pd
data = {'이름': ['홍길동', '김영희', '이철수'],
        '나이': [25, 30, 35]}
df = pd.DataFrame(data)

In [ ]:
#데이터 병합
'Q6. 아래 두 데이터 프레임을 이름 열을 기준으로 병합(Merge)하는 코드를 작성하세요.'
df1 = {'이름': ['홍길동', '김영희', '이철수'],
         '나이': [25, 30, 35]}
df2 = {'이름': ['홍길동', '김영희', '박민수'],
         '점수': [95, 85, 75]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
#csv 파일 읽기
'Q7. "titanic_train.csv"라는 파일을 읽어서 DataFrame으로 변환하는 코드를 작성하세요. 그리고 fare 열의 평균을 계산하세요.'

'Q7. "titanic_train.csv"라는 파일을 읽어서 DataFrame으로 변환하는 코드를 작성하세요. 그리고  fare  열의 평균을 계산하세요.'